# Lab Week 3

1.	Using read.table, Load the file shopping.tsv. into R. Shopping.tsv is a tab-separated file. Ensure column names are interpreted correctly, and missing values correctly inferred.

In [1]:
hello <- "hello"
hello

[1] "hello"

2. 	Use readr to import the table, again ensuring column names and missing values correctly inferred

3. 	Import the first 50 rows of jester-data.csv. The jester dataset gives ratings given by human raters (columns) to individual jokes (represented by rows). Be aware that this file has no headers. Calculate the average rating of each joke. Tip: check the `t` function.

4.	Import the 51st to 100th rows of the jester dataset, and only the first 8 columns. Using R functions, calculate which rater gave the highest overall value of total ratings.

5.	Import the “Group A” table from the website https://www.skysports.com/champions-league-table. Set the correct data type for each column.

6.	Save the table as an R object, and then as a comma separated file using the | character as a row separator.

7. Download (using R) the following dataset https://www3.stats.govt.nz/2018census/Occupied-dwellings-unoccupied-dwellings-dwellings-under-construction-private-and-non-private-dwellings-2006-2013-2018-Censuses-RC-TA-SA2-DHB.zip?_ga=2.141002357.630272337.1602082952-1963814488.1602082952. Extract all csv files to separate data frames

8. Give each data frame a meaningful name. Save the objects to .rdata format

9. Each of the other than Data8278.csv is a **lookup** dataset. It gives additional information on the codes used in Data8278.csv. Use these datasets to replace the codes in the main dataset with the descriptions found in the lookup. Hint: check the `match` function.