# Summary Statistics Lecture Practical

This notebook can be used to follow along with the lecture notes.

In [2]:
# url <- 'http://archive.ics.uci.edu/ml/machine-learning-databases/00222/bank.zip'
download.file(url, destfile = 'bank.zip')
unzip('bank.zip', list = T)

  Name           Length  Date
1 bank-full.csv  4610348 2012-02-14 14:40:00
2 bank-names.txt    3864 2012-02-14 15:10:00
3 bank.csv        461474 2012-02-14 14:38:00

## Data Description

### Numeric Data

1. age
2. balance
3. contact day
4. duration
5. campaign contacts
6. previous contacts
7. previous days (-1, no previous contact)


### Categorical Data

1. job (11) { ’admin’, ’entrepreneur’. . . }
2. marital (3) { ’divorced’, ’married’, ’single’ } 
3. education (3) { ’primary’, ’secondary’. . . }
4. default (2) { ’yes’, ’no’ }
5. housing loan (2) { ’yes’, ’no’ }
6. Personal loan (2) { ’yes’, ’no’ }
7. contact type (2) { ’telephone’, ’cellular’ }
8. contact month (12) { ’jan’, ’feb’. . . }
9. previous outcome (3) { ’success’, ’failure’. . . }
10. subscribed (2) { ’yes’, ’no’ }

## Task 1: Import the data into R

Make sure you run the initial steps in the cell above to download and unzip the dataset. Then import the data into R, you may need to manually inspect the dataset to get an idea of the format. Save the dataframe in a variable called bankData.

## Task 2: Basic Checks

Before we get to work on the dataframe we want to perform some basic checks. First, get an idea of the size of the dataset by checking the number of columns and rows. Then double check the first few and last few rows of the dataframe to make sure there were no problems with the import

## Task 3: Type Conversion

By default, read_delim reads character columns as characters, but all of our character columns should be factors. Manually convert columns 2,3,4 and 5 to factors below

Or, use a loop to convert all factor columns

## Task 4: Finding NAs

1. How many NAs are there for the education attribute?
2. What percentage of the total is this?

## Finding NAs in all columns

See the lecture notes for how to do this. Get a list of all columns containing at least 1 NA and find the counts of each

## Task 5: Finding the Average

What is the average value of the following columns?
1. age
2. duration
3. pDays

## Fixing the pDays Column
See the lecture notes for how to do this. Implement option 1 and option 2 in the cells below

## Task 6 - Omitting Rows Containing NA
Create a copy of the dataset omitting any rows with NAs. How much data do we lose doing this? (express as a percentage of total rows)

## Summary Statistics

### Task 7 - Calculating Quantiles

1. Use the first cell to write a script to find the tenth percentile of the following data.

```R
c(14, 15, 9, 14, 8, 9, 6, 7, 8, 12)
```

2. Then add in the script the code to find the 30th, 50th and 75th percentile
3. In the second cell, use the r **quantile()** function to calculate each of the percentiles above

Get the 0th, 25th, 50th, 75th and 100th percentiles of the *age* feature using the fivenum function

Use the summary function to get the mean as well as the fivenum quantiles of the bankData age feature

Get the counts of each level of the *education* feature

### Task 8 - Calculate the Trimmed Mean

1. Calculate the mean and median of the *balance* feature of our bankData dataframe
2. Calculate the trimmed mean @ T = 0.1
3. Show that the trimmed mean is more representative of the centre than the raw mean

### Measures of Spread

The inter-quartile range (IQR) and range are similar in that they estimate the spread of a column by subtracting extreme values

The standard deviation is a measure of the average distance of each column value from the mean:

The **variance** is simply the square of the standard deviation: